BOT_TOKEN=
ADMIN_ID=8179254915
WEBAPP_URL=https://hakeza.github.io/energy-simulator/
BACKEND_PUBLIC_URL=https://YOUR-BACKEND-DOMAIN
PORT=3000

# Crypto Pay API token from @CryptoBot
CRYPTO_PAY_TOKEN=

# xRocket Pay API current Bearer token
XR_TOKEN=
# Production: https://pay.api.xrocket.exchange
XR_BASE=https://pay.api.xrocket.exchange
